div#container {
	background-color:black;
	height:400px;
	font-family:Arial, impact;
}

section#picture {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;

		background-image: url('http://livepositivelyfit.files.wordpress.com/2012/06/banana-chocolate-chip-oatmeal-cookies.jpg');
		background-size: cover;
		display: block;
		border-radius: 150px;
		-webkit-border-radius: 150px;
 		-moz-border-radius: 150px;
 		border: 5px solid red;
 		box-shadow: 10px 10px 10px 10px blue;
}

section#picture:hover {
	border: 5px solid blue;}

section#top {
  margin:20px 20px 20px 20px;
	background-color:black;
	color:white;
	float:top;
	text-align:center;}

section#left {
	background-color:blue;
	float:left;
	width:49%;
	color:white;
	border: 5px dashed black;
	
}


section#right {
	background-color:red;
	float:right;
	width:49%;
	border: 5px dashed black;
}